.lt-ie8 {
	.global-header_wrap {
		padding-top: 10px;
		}
	.global-nav {
		top: 12px;
		}
	.search {
		float: right;
		height: 26px;
		margin-right: 230px;
		top: -10px;
		}
	.user-info_name {
		padding: 3px 0;
		width: 148px;
		}
	.global-footer ul,
	.extra-info, .partners, .partners ul {
		float: left;
		}
	.global-footer ul {
		padding: 0;
		}
	.list-link {
		float: left;
		width: 410px;
		margin-left: 40px;
		ul {
			width: auto;
			}
		}
	.partners {
		margin-left: 55px;
		}
	.partners ul {
		margin: 0;
		padding: 0;
		}
	.partners li {
		margin-left: -15px;
		}
	}











