@font-face {
    font-family: 'PhilosopherBold';
    src: url('/static/home/modules/fonts/Philosopher/bold/philosopher-bold.eot');
    src: url('/static/home/modules/fonts/Philosopher/bold/philosopher-bold.eot') format('embedded-opentype'),
        url('/static/home/modules/fonts/Philosopher/bold/philosopher-bold.woff') format('woff'),
        url('/static/home/modules/fonts/Philosopher/bold/philosopher-bold.ttf') format('truetype'),
        url('/static/home/modules/fonts/Philosopher/bold/philosopher-bold.svg#PhilosopherBold') format('svg');

    font-family: 'PhilosopherBoldItalic';
    src: url('/static/home/modules/fonts/Philosopher/bolditalic/philosopher-bolditalic.eot');
    src: url('/static/home/modules/fonts/Philosopher/bolditalic/philosopher-bolditalic.eot') format('embedded-opentype'),
         url('/static/home/modules/fonts/Philosopher/bolditalic/philosopher-bolditalic.woff') format('woff'),
         url('/static/home/modules/fonts/Philosopher/bolditalic/philosopher-bolditalic.ttf') format('truetype'),
         url('/static/home/modules/fonts/Philosopher/bolditalic/philosopher-bolditalic.svg#PhilosopherBoldItalic') format('svg');

    font-family: 'PhilosopherItalic';
    src: url('/static/home/modules/fonts/Philosopher/italic/philosopher-italic.eot');
    src: url('/static/home/modules/fonts/Philosopher/italic/philosopher-italic.eot') format('embedded-opentype'),
         url('/static/home/modules/fonts/Philosopher/italic/philosopher-italic.woff') format('woff'),
         url('/static/home/modules/fonts/Philosopher/italic/philosopher-italic.ttf') format('truetype'),
         url('/static/home/modules/fonts/Philosopher/italic/philosopher-italic.svg#PhilosopherItalic') format('svg');

    font-family: 'PhilosopherRegular';
    src: url('/static/home/modules/fonts/Philosopher/regular/philosopher-regular.eot');
    src: url('/static/home/modules/fonts/Philosopher/regular/philosopher-regular.eot') format('embedded-opentype'),
         url('/static/home/modules/fonts/Philosopher/regular/philosopher-regular.woff') format('woff'),
         url('/static/home/modules/fonts/Philosopher/regular/philosopher-regular.ttf') format('truetype'),
         url('/static/home/modules/fonts/Philosopher/regular/philosopher-regular.svg#PhilosopherRegular') format('svg');


    font-family: 'ALS_Gross_Kunst_Italic';
    src: url('/static/home/modules/fonts/ALS_Gross_Kunst_Italic/ALS_Gross_Kunst_Italic.eot');
    src: url('/static/home/modules/fonts/ALS_Gross_Kunst_Italic/ALS_Gross_Kunst_Italic.eot') format('embedded-opentype'),
         url('/static/home/modules/fonts/ALS_Gross_Kunst_Italic/ALS_Gross_Kunst_Italic.woff') format('woff'),
         url('/static/home/modules/fonts/ALS_Gross_Kunst_Italic/ALS_Gross_Kunst_Italic.ttf') format('truetype'),
         url('/static/home/modules/fonts/ALS_Gross_Kunst_Italic/ALS_Gross_Kunst_Italic.svg#ALSGrossKunstItalic') format('svg');
}

